body{
    background-image: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}


.jumbotron{
       background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&w=1000&q=80);
       background-repeat: no-repeat;
}

button{
 border-radius: 20px; 
  color: black;
}

nav{
    border-bottom: 1px solid black;
}

label{
    color: white;
}

button:hover{
    background-color: green;
}

