body{
    background-image: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}


button{
 border-radius: 20px; 
  color: black;
}

nav{
    border-bottom: 1px solid black;
}

label{
    color: white;
}

button:hover{
    background-color: green;
}

hr{
    border: 1px solid red;
}

