body{
    background-image: url(https://images.pexels.com/photos/1907785/pexels-photo-1907785.jpeg?cs=srgb&dl=books-filed-neatly-on-shelves-1907785.jpg&fm=jpg);
}

button:hover{
    background-color: green;
}

